{% import "_includes/forms" as forms %}

{% if not isConfigured %}
    <div class="field">
        <p class="warning">{{ 'Plugin settings have not been configured yet'|t('remote-backup') }}</p>
    </div>
{% else %}
    {% if not isAuthenticated %}
        <div class="field">
            <p class="warning">{{ 'You need to authenticate with your provider. Please visit the plugin settings page.'|t('remote-backup') }}</p>
        </div>
    {% else %}
        {% if queueActive %}
            <div class="field">
                <p class="warning">{{ 'Your operation is currently in the queue. The page will automatically reload when complete.'|t('remote-backup') }}</p>
            </div>
            <script>
                // Reload the page when the queue empties
                setInterval(function() {
                    $.get({
                        url: Craft.getActionUrl("queue/get-job-info"),
                        dataType: "json",
                        success: function (response) {
                            if (response['total'] <= 0) {
                                window.location.reload();
                            }
                        },
                    });
                }, 3000);
            </script>
        {% endif %}
        <div class="rb-utilities">
            <img class="rb-utilities-provider-icon" src="{{ craft.app.assetManager.publishedUrl('@weareferal/remotecore/assets/RemoteCoreUtility/dist/img/' ~ cloudProvider ~'.png', true) }}" />
            {% if not hideDatabases %}
                {% include 'remote-backup/utilities/_includes/_remote-backup-section' with {
                    label: ("Database" | t),
                    labelPlural: ("Databases" | t),
                    backupText: ("Backup Database" | t),
                    icon: 'database',
                    id: 'rb-utilities-database',
                    listAction: 'remote-backup/remote-backup/list-databases',
                    pushAction: 'remote-backup/remote-backup/push-database',
                    disabled: false
                } %}
            {% endif %}
            {% if not hideVolumes %}
                {% embed 'remote-backup/utilities/_includes/_remote-backup-section' with {
                    label: ("Volume" | t),
                    labelPlural: ("Volumes" | t),
                    backupText: ("Backup Volumes" | t),
                    icon: 'asset',
                    id: 'rb-utilities-volumes',
                    listAction: 'remote-backup/remote-backup/list-volumes',
                    pushAction: 'remote-backup/remote-backup/push-volumes',
                    disabled: not haveVolumes
                } %}
                    {% block message %}
                        {% if not haveVolumes %}<p class="light">{{ 'No volumes are configured for this site'|t('remote-backup') }}</p>{% endif %}
                    {% endblock %}
                {% endembed %}
                {% if queueActive %}
                    <div class="rb-utilities-guard">&nbsp;</div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endif %}