<section id="{{ id }}" class='rb-utilities-section'>
    <h2 data-icon="{{ icon }}">{{ "Remote " ~ label ~ " Backups"|t('remote-backup') }}</h2>
    <table class="data fullwidth rb-utilities-table rb-utilities-table--collapsed"
        data-list-action="{{ listAction }}"
        data-push-action="{{ pushAction }}">
        <thead>
            <tr>
                <th>{{ "Date" | t("remote-backup") }}</th>
                <th>{{ "Time" | t("remote-backup") }}</th>
                <th>{{ "Environment" | t("remote-backup") }}</th>
                <th>{{ "Version" | t("remote-backup") }}</th>
                <td>{{ "Size" | t("remote-backup") }}</td>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="first default-row template-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="loading-row default-row">
                <td class="light">
                    <div class="update-spinner spinner"></div>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </td>
            </tr>
            <tr class="no-results-row default-row">
                <td class="light">
                    {{ "No " ~ label|t('remote-backup') ~ " Backups"}}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="errors-row default-row">
                <td class="error">
                    {{ "Error Fetching " ~ label|t('remote-backup') ~ " Backups"}}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="rb-show-all">
        <a href="#">{{ "Show All"|t('remote-sync') }}</a>
    </div>
    <form class="rb-utilities-form" method="post">
        {{ csrfInput() }}
        <div class='rb-utilities-submit'>
            <input class="btn submit {{ not disabled ? '' : 'disabled' }}" type="submit" value="{{ backupText }}">
            <div class="utility-status"></div>
        </div>
    </form>
    <div class="rb-utilities-overlay">
        <div class="update-spinner spinner"></div>
    </div>
    {% block message %}{% endblock %}
</section>