<section id="{{ id }}" class='rb-utilities-section'>
    <h2 data-icon="{{ icon }}">{{ "Remote " ~ label ~ " Backups"|t('remote-backup') }}</h2>
    <table class="data fullwidth rb-utilities-table rb-utilities-table--collapsed"
        data-list-action="{{ listAction }}"
        data-push-action="{{ pushAction }}">
        <tbody>
            <tr class="first template-row default-row">
                <td class="light"></td>
            </tr>
            <tr class="loading-row default-row">
                <td class="light">
                    <div class="update-spinner spinner"></div>
                </td>
            </tr>
            <tr class="no-results-row default-row">
                <td class="light">
                    {{ "No " ~ label|t('remote-backup') ~ " Backups"}}
                </td>
            </tr>
            <tr class="errors-row default-row">
                <td class="error">
                    {{ "Error Fetching " ~ label|t('remote-backup') ~ " Backups"}}
                </td>
            </tr>
            <tr class="last default-row show-all-row">
                <td>
                    <a class="light" href="">{{ "Show All"|t('remote-sync') }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <form class="rb-utilities-form" method="post">
        {{ csrfInput() }}
        <div class='rb-utilities-submit'>
            <input class="btn submit {{ not disabled ? '' : 'disabled' }}" type="submit" value="{{ 'Create ' ~ label ~ ' Backup'|t('remote-backup') }}">
            <div class="utility-status"></div>
        </div>
    </form>
    <div class="rb-utilities-overlay">
        <div class="update-spinner spinner"></div>
    </div>
    {% block message %}{% endblock %}
</section>